<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Consulta de Multas</title>
    <link rel="stylesheet" href="stylesheets/style.css">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <body>
    	<form action="/consult" method="post"><div class="login">
    		<div class="login-screen">
    			<div class="app-title">
    				<h1>Consulta</h1>
    			</div>
          <div class="login-form">
    			  <div class="control-group">
    				<input type="text" class="login-field" value="" placeholder="Codigo" name="user_code">
    				<label class="login-field-icon fui-lock" for="login-pass"></label>
    				</div>

            <input type = "submit" class="btn btn-primary btn-large btn-block " href= "/consult" value="Consultar">
    				<a class="login-link" href="/">Regresar</a>
    			</div>
    		</div>
    	 </div>
     </form>
    </body>
  </body>
</html>
