<nav>
  <div class="nav-wrapper teal">
    <a href="/" class="brand-logo center"><i class="very large material-icons">dashboard</i>Datacenter B<b>&</b>W</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/login"><i class="material-icons left">perm_identity</i>Login</a></li>
      <li><a href="/login_consult"><i class="material-icons left">search</i>Consult</a></li>
    </ul>
  </div>
</nav>
