<nav>
  <div class="nav-wrapper teal">
    <a href="/" class="brand-logo center"><i class="very large material-icons">dashboard</i>B<b>&</b>W</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Menu inicial</a></li>
    </ul>
  </div>
</nav>
