<% include header %>
<body background-color = 'teal'>
  <% include nav_bar_norm %>
  <form action="/root" method="post">
    <center>
      <button class="btn waves-effect waves-light" type="submit" name="boton"value="Ingresar Multa">Ingresar Multa
        <i class="material-icons right">send</i>
      </button>

      <button class="btn waves-effect waves-light" type="submit" name="boton"value="Eliminar Persona">Eliminar Persona
        <i class="material-icons right">send</i>
      </button>

      <button class="btn waves-effect waves-light" type="submit" name="boton"value="Actualizar datos de persona">Actualizar datos de persona
        <i class="material-icons right">send</i>
      </button>
    </center>
  </form>
</body>
